
@model MisOfertasAppCore.data.Interface.IProducto


<link rel="stylesheet" href="@Url.Content("~/Content/producto.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/producto.js")"></script>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese" rel="stylesheet">
<style>
    .col-centered {
        float: none;
        margin: 0 auto;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default  panel--styled">
                <div class="panel-body">
                    <div class="col-md-12 panelTop">
                        <div class="col-md-4">
                            <img class="img-responsive" src="https://home.ripley.cl/store/Attachment/WOP/D136/2000357193538/2000357193538_2.jpg" alt="" />
                        </div>
                        <div class="col-md-8">
                            <h2>@Model.NOMBRE_PRODUCTO</h2>
                            <p>Lorem ipsum dolor sit amet, altera propriae iudicabit eos ne. Vel ut accusam tacimates, prima oratio ius ea. Et duo alii verterem principes, te quo putent melius fabulas, ei scripta eligendi appareat duo.</p>
                            <p>STOCK : @Model.Ofertas.FirstOrDefault().STOCK </p>
                            <p>DESCUENTO : @Model.Ofertas.FirstOrDefault().PCT_DESCUENTO % </p>
                            <h5>Precio :  <span class="itemPrice">$@Model.Ofertas.Where(x => x.IS_ACTIVE == "1").FirstOrDefault().PRECIO </span></h5>
                        </div>
                    </div>

                    <div class="col-md-12 panelBottom">
                        <div class="col-md-4 text-center">
                            @*<button class="btn btn-lg btn-add-to-cart">Valorar </button>*@
                        </div>
                        <div class="col-md-4 text-left">
                            
                            @*<h5>Oferta :  <span class="itemPrice"></span>
                                
                                
                                </h5>*@
                        </div>
                        <div class="col-md-4">
                            <div class="stars" style="text-align:center;">
                                <h5><b>Valorar Producto</b></h5>
                                <div id="stars" class="starrr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>